/**
 * Author: Maxime Blaszka
 * Date: 12/04/2018
 */
 
/* START General params */


html, body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

section {
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 20%;
	padding-right: 20px;
	margin: 0;
	flex: 1 0 auto;
}

section h1 {
	margin: 0;
	color: #FF7900;
	font-size: 50px;
	padding-bottom: 80px;
	padding-top: 160px;
}

section p {
	margin: 0;
	font-size: 20px;
}

.center {
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	text-align: center;
}

header {
	background-color: black;
	width: 100%;
	height: 150px;
	margin: 0;
	position: fixed;
	z-index: 2;
	-webkit-box-shadow: 0px 10px 10px -10px #000000;
	-moz-box-shadow: 0px 10px 10px -10px #000000;
	box-shadow: 0px 10px 10px -10px #000000;
}

#orange {
	width: 120px;
	height: 100px;
	float: right;
	padding: 20px;
	float: right;
}

.logos {
	width: 120px;
	height: 100px;
	float: right;
	padding: 20px;
	float: left;
}

.logos:first-child {
	padding-right: 0;
}

header h1 {
	margin: 0;
	padding-top: 40px;
	color: white;
	text-align: center;
	font-size: 62px;
	float: left;
	margin-left: 25%;
}

.menu {
	background-color: #bab8b8;
	height: 100%;
	width: 16%;
	margin: 0;
	padding: 0;
	float: left;
	position: fixed;
	padding-top: 160px;
	-webkit-box-shadow: 10px 0px 10px -10px #000000;
	-moz-box-shadow: 10px 0px 10px -10px #000000;
	box-shadow: 10px 0px 10px -10px #000000;
}

ul {
	list-style: none;
	padding: 0;
}

ul li:first-child {
	border-top: 1px solid black;
}

ul li {
	padding: 15%;
	border-bottom: 1px solid black;
}

ul li a {
	text-decoration: none;
	color: white;
	font-size: 25px;
}

ul li:hover {
	background-color: #4BB4E6;
	background-color: #B5E8F7;
	border-left: 15px solid #4BB4E6;
}

footer {
	margin: 0;
	background-color: black;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	clear: both;
	-webkit-box-shadow: 0px -10px 10px -10px #000000;
	-moz-box-shadow: 0px -10px 10px -10px #000000;
	box-shadow: 0px -10px 10px -10px #000000;
	flex-shrink: 0;
}

footer p {
	color: white;
	text-align: center;
}

.icon {
	display: none;
}

/* END General params */



/* START Home page : choose blockchain */

.choose {
	width: 300px;
	height: 300px;
	padding: 30px;
	border: 1px solid #4BB4E6;
	background-color: #4BB4E6;
	margin-right: 80px;
	margin-bottom: 40px;
	display: inline-flex;
	opacity: 0.8;
	-webkit-box-shadow: 0px 0px 15px black;
	-moz-box-shadow: 0px 0px 15px black;
	box-shadow: 0px 0px 15px black;
}

.choose img {
	width: 70%;
	height: 70%;
    margin: auto;
}

.choose:hover {
	opacity: 1;
	-webkit-box-shadow: 0px 0px 20px #50BE87;
	-moz-box-shadow: 0px 0px 20px #50BE87;
	box-shadow: 0px 0px 20px #50BE87;
}

/* END Home page : choose blockchain */



/* START Network config page */

.configform .column, .blockview {
	display: inline-flex;
	flex-direction: column;
	width: 45%;
	margin-bottom: 50px;
}

.column:nth-child(2), .blockview {
    border-left: 1px solid black;
    padding-left: 40px;
    -webkit-border-image: 
      -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
}

label {
	font-size: 20px;
	padding-bottom: 10px;
}

.configform input[type="text"], select, input[type="number"] {
	margin-bottom: 40px;
	width: 70%;
	height: 58px;
	border: 1px solid #ccc;
	color: #FF7900;
	font-size: 19px;
	font-weight: bold;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
}

.configform input[type="text"]:focus, select:focus {
	width: 85%;
    -webkit-box-shadow: 0 0 5px 2px #4BB4E6;
    -moz-box-shadow: 0 0 5px 2px #4BB4E6;
    box-shadow: 0 0 5px 2px #4BB4E6;
}

.configform input[type="submit"], input[type="reset"], .butt {
	border: 1px solid #4BB4E6;
	text-align: center;
	color: black;
	padding: 16px;
	width: 35%;
	font-size: 18px;
	margin: 4px 2px;
	margin-bottom: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e0e0e0;
    cursor: pointer;
	font-weight: initial;
}

.configform input[type="submit"]:hover, input[type="reset"]:hover, .butt:hover  {
	background-color: #4BB4E6;
	color: white;
}

.butt {
    margin-bottom: 20px;
}

#nbNodes {
	display: grid;
}

.error, .error1, .error2, .error3  {
	color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 15px;
    border-radius: 4px;
    width: 96%;
    margin-bottom: 40px;
    overflow: auto;
}

.error1 {
	width: 80%;
}

.error2 {
    display: none;
}

.error2 {
	width: 87%;
}

.error3 {
	width: 78%;
}

/* END Network config page */



/* START Network visualize page */

#infosconfig {
	border: 3px solid #4BB4E6;
	padding: 20px;
	text-align: center;
	margin-bottom: 40px;
	margin-right: 50px;
	font-size: 22px;
	background-color: black;
	color: white;
}

#infosconfig h2 {
	color: #FF7900;
	font-size: 40px;
	margin-bottom: 40px;
}

.visu input[type="submit"] {
	margin: auto;
	width: 50%;
	margin-bottom: 25px;
}

.visu:first-child {
	width: 30%;
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

#network {
	position: absolute;
}

.alignr {
	margin-left: 20px;
}

#statusco {
	color: #50BE87;
	font-size: 25px;
	display: block;
}

.orange {
	color: #FF7900;
	font-size: 30px;
	display: inline;
}

.d3plus_edge_line line{
    stroke: #FF7900 !important;    
    stroke-width:6px !important;
}

/* END Network visualize page */



/* START Run tests page */

#terminal {
	position: absolute;
}

.runtests:first-child {
	width: 30%;
}

#blocknum {
	width: 30%;
}

#resultblock {
    overflow: scroll;
    width: 100%;
    font-weight: normal;
    margin-top: 20px;
	background-color: #B5E8F7;
}

.blockview {
	width: 65%;
}

/* END Run tests page */



/* START Results page */

#results {
	margin-top: 20px;
	margin-bottom: 20px;
}

#results a {
	color: #4BB4E6;
}

#results .butt {
	width: auto;
}

iframe {
	width: 100%;
	height: 1000px;
}

/* END Results page */



/* START FAQ page */

.answer {
	margin-top: 20px;
	margin-bottom: 50px;
	color: white;
	padding: 20px;
	background-color: #bab8b8;
	width: 90%;
}

/* END FAQ page */



/* responsive design (width > 1024px and width < 1280px) */

@media all and (max-width: 1380px) {
	.icon {
		display: none;
	}
	
	p {
		font-size: 18px;
	}
	
	header h1 {
		margin-left: 5%;
	}
	
	ul li a {
		font-size: 18px;
	}
	
	.visu:first-child {
		width: 40%;
	}
	
	.runtests:first-child {
		width: 35%;
	}
	
    #network {
		position: absolute;
		overflow: auto;
    }
	
	#terminal {
		position: absolute;
		overflow: auto;
	}
	
	.menu {
		display: block;
	}
	
	.blockview {
		display: flex;
		flex-direction: column;
		width: 90%;
		border-left: none;
		border-top: 1px solid black;
		padding-left: 0;
		padding-top: 50px;
	}
}

/* responsive design (width < 1024px) */

@media all and (max-width: 1024px)
{
	p {
		font-size: 16px;
	}
	
	header {
		height: 100px;
		position: inherit;
	}
	
	header h1 {
		font-size: 30px;
		margin-left: 5%;
	}
	
	section {
		padding-left: 5%;
	}
	
	section h1 {
		padding-top: 0px;
	}
	
	ul li a {
		font-size: 16px;
	}
	
	.configform .column, .blockview {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	
	.runtests:first-child {
		width: 100%;
	}
	
	.column:nth-child(2), .blockview {
		border-left: none;
		border-top: 1px solid black;
		padding-left: 0;
		padding-top: 50px;
	}
	
	.choose {
		width: 300px;
		height: 300px;
    }
    
    #network {
		position: inherit;
		overflow: auto;
    }
    
    #terminal {
		position: inherit;
		overflow: auto;
	}
	
	.logos, #orange {
		width: 60px;
		height: 60px;
	}
	
	/* menu in responsive */
	
	.menu {
		display: none;
	}
	
	ul {
		margin: 0;
	}
	
	ul li {
		padding: 10px;
		background-color: #bab8b8;
		text-align: center;
	}
	
	.icon {
		display: block;
		text-align: left;
	}
	
	#menuicon {
		width: 50px;
		height: 50px;
	}
	
	.error {
		width: 65%;
	}	
	
	.error2 {
		width: 65%;
	}
	
	.error3 {
		width: 60%;
	}
}


/* small screens */
@media all and (max-width: 535px)
{
	#orange {
		display: none;
	}
}

/* very small screens */
@media all and (max-width: 430px)
{
	header h1 {
		display: none;
	}
}
