{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	{% if error is not null %}
		<div class="error">{{ error }}</div>
	{% endif %}
	<form id="formconf" class="configform" action="/blockexplorer" method="post">
		<div class="column runtests">
			<label for="node">Node selection</label>
			<select name="node" id="node">
			    {% for host in hosts %}
					<option value="{{host}}">{{ host }}</option>
				{% endfor %}
			</select>
			<label for="blocknum">Block num</label>
			<input type="number" name="blocknum" id="blocknum" />
			<p>OR</p>
			<pre></pre>
			<label for="transacid">Transaction ID</label>
			<input type="text" name="transacid" id="transacid" />
			<button class="butt" id="send" type="submit">Search</button>
		</div>
		<div class="blockview">
			<p>Results</p>
			<div id="resultblock">
				{% if blockresult is not null %}
					<p>{{blockresult|json_encode()}}</p>
				{% endif %}
			</div>
		</div>
	</form>
{% endblock %}
