{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title }} : {{ blockchain }}</h1>
	{% if error is not null %}
		<div class="error3">{{ error }}</div>
	{% endif %}
	<form class="configform" method="post" action="/config/{{ blockchain }}">
		<div class="column">
			<label for="nodes">Number of nodes (1 to 4)</label>
			<input type="text" name="nodes" id="nodes" value="{{nodes}}" />
			<label for="accounts">Number of accounts (2 to 5)</label>
			<input type="text" name="accounts" id="accounts" value="{{accounts}}" />
			<label for="blocksize">Block size (mb)</label>
			<input type="text" name="blocksize" id="blocksize" value="{{blocksize}}" disabled="disabled" />
			<label for="timeblock">Time between blocks (sec)</label>
			<input type="text" name="timeblock" id="timeblock" value="{{timeblock}}" disabled="disabled" />
		</div>
		<div class="column">
			<div id="nbNodes"></div>
			<input type="submit" value="Save" />
		</div>
	</form>
{% endblock %}
