{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	<p>Why did you create this platform ?</p>
	<p class="answer">
		This platform is developed as part of a research and development project at Orange Labs.
	</p>
	<p>What is this platform for ?</p>
	<p class="answer">
		This platform is used to test the scalability of a blockchain by configuring certain parameters.
	</p>
	<p>Which blockchain can we test on this platform ?</p>
	<p class="answer">
		At the moment, we can test EOS and Ethereum.
	</p>
	<p>Who works on this project ?</p>
	<p class="answer">
		Fabrice JEANNE, Jean-Yves ZIE DIALI, Ivan BEDINI, Maxime BLASZKA.
	</p>
{% endblock %}
