{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	<article>
		<a href="/config/eos"><div class="choose"><img src="/images/eos1.png" alt="eoschoose" /></div></a>
		<a href="/config/ethereum"><div class="choose"><img src="/images/ethereum1.png" alt="ethereumchoose" /></div></a>
	</article>
{% endblock %}
