<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scalablock - {{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/xterm.css" />
		<script src="//d3plus.org/js/d3.js"></script>
		<script src="//d3plus.org/js/d3plus.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/xterm.js"></script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
	</head>
	<body>
		<header>
			<img class="logos" src="/images/ethereum.png" alt="ethereum" />
			<img class="logos" src="/images/eos.png" alt="eos" />
			<h1><a href="/">SCALABLOCK</a></h1>
			<img id="orange" src="/images/logoOrange.png" alt="logoOrange" />
		</header>
		<a href="javascript:void(0);" class="icon" onclick="showMenu()">
			<img src="/images/menu.png" id="menuicon" alt="menu" />
		</a>
		<nav class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/config">Configuration</a></li>
				<li><a href="/visualize">Visualize</a></li>
				<li><a href="/run">Run tests</a></li>
				<li><a href="/results">Results</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</nav>
		<section>
			{% block section %}{% endblock %}
		</section>
		<footer>
			<p>Maxime Blaszka - Orange Labs &copy; 2018</p>
		</footer>
	</body>
</html>
