{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	{% if error is not null %}
		<div class="error2">{{ error }}</div>
	{% endif %}
	<iframe src="http://10.193.203.238:9201/app/kibana#/dashboard/f1ff59b0-72de-11e8-adc4-1725dac05bad?embed=true&_g=()"></iframe>
{% endblock %}
