{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	{% if error is not null %}
		<div class="error2">{{ error }}</div>
	{% endif %}
	<form id="formconf" class="configform" action="/results" method="post">
		<div class="column runtests">
			<p>Logfiles list</p>
			<div id="results">
				{% if files is not null %}
					{% if files|length == 0 %}
						<div class="error1">
							<p>No logs to display !</p>
							<pre></pre>
							<a href="/run">Run tests</a>
						</div>
					{% else %}
						{% for file in files %}
							<p><button class="butt" name="logfile" value="{{file}}">{{ file }}</button></p>
						{% endfor %}
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="blockview">
			<p>Results</p>
			<div id="resultblock">
				{% if fileresult is not null %}
					<p>{{fileresult|replace({"\n":"<br/>", " ":"&nbsp;"})}}</p>
				{% endif %}
			</div>
		</div>
	</form>
{% endblock %}
