{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}} : {{blockchain}}</h1>
	<div class="error2">{{ error }}</div>
	<form id="formconf" class="configform" action="/run/start" method="post">
		<div class="column runtests">
			<label for="node">Node selection</label>
			<select name="node" id="node">
			    {% for host in hosts %}
					<option value="{{host}}">{{ host }}</option>
				{% endfor %}
			</select>
			<label for="transac">Number of transactions</label>
			<input type="number" name="transac" id="transac" value="{{transac}}" />
			<label for="topology">Network topology</label>
			<select name="topology" id="topology" disabled="disabled">
				<option value="ring">Ring</option>
				<option value="star">Star</option>
				<option value="mesh">Mesh</option>
			</select>
			<hr>
			<button class="butt" id="send" type="submit">Run</button>	
			<!--<a class="butt" id="stop" value="false">Stop</a>-->
		</div>
		<div class="column runtests" id="terminal">	
			<a target="_blank" class="butt" id="explorer" href="/blockexplorer">Blockchain explorer</a>			
		</div>
	</form>  
	<script>
		$("#stop").click(function(e) {
			if ($("#stop").attr("value") == "false") {
				$("#stop").attr("value", "true");
			}
		});
		var term = new Terminal();
		term.open(document.getElementById('terminal'));
		term.clear();
		term.writeln('$> connected on node '+$("#node").val());
		$('#send').click(function(event) {
			term.clear();
			term.writeln('$> connected on node '+$("#node").val());
			event.preventDefault();
			term.writeln('$> '+$("#transac").val()+' transactions in execution, please wait...');
			var errordisplay = document.querySelector(".error2");
			errordisplay.textContent = "";
			errordisplay.style.display = "none";
			$.post('/run/start', {transac: $("#transac").val(), 
				node: $("#node").val(), 
				topology: $("#topology").val(),
				blocknum: $("#blocknum").val()}, 
				function(data) { 
					if (data.error) {
						term.clear();
						term.writeln('$> '+data.error);
						term.writeln('$> Please fix the configuration errors !');
						errordisplay.style.display = "block";
						errordisplay.textContent = data.error;
					} else {
						term.writeln('$> Success : '+$("#transac").val()+' transactions passed !');
					}
				}
			);	
		});	
	</script>
{% endblock %}
