{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}} : {{ blockchain }}</h1>
	<div class="configform">
		<div class="column visu">
			<div id="infosconfig">
				<h2 id="h">Node info</h2>
				<p id="statusco"></p><br />
				<p id="host"></p><br />
				<p id="blocnum"><p>
			</div>
			<a href="/run" class="butt">Continue</a>
			<a href='{{ ("/config/" ~ blockchain|lower )}}' class="butt">Change</a>
		</div>
		<div class="column visu" id="network">
		</div>	
	</div>	
	<script "text/javascript">
	  d3.json("{{ networkfile }}", function(error, data) {
		  var visualization = d3plus.viz()
			.container("#network")  // container DIV to hold the visualization
			.type("network")    // visualization type
			.data(data.data)  // sample dataset to attach to nodes
			.nodes(data.positions)   // x and y position of nodes
			.edges(data.connections) // list of node connections
			.size("size")  // key to size the nodes
			.id("name")	
			.color("hex")
			.title("Click on a node for test connexion")
			.mouse({
				"click": function(d, viz) {
					$.post('visualize/node', {data: d.name}, function(data) { 
						var parent = document.querySelector("#h");
						var statusco = document.querySelector("#statusco");
						var host = document.querySelector("#host");
						var blocnum = document.querySelector("#blocnum");
						blocnum.textContent = "";
						if (data.status == "DISCONNECTED") {
							statusco.style.color = "red";
							blocnum.textContent = "";
						} else {
							statusco.style.color = "#50BE87";
							//blocnum.textContent += "Block n°"+data.result.head_block_num+" produced by "+data.result.head_block_producer;
						}
						statusco.textContent = data.status;
						h.textContent  = d.name;
						host.textContent = data.host;
					});
				}
			}).draw();
		});
	</script>  
{% endblock %}
